.date {
    .react-date-picker__wrapper {
        border: 0px solid #e9e8e8;
        background-color: #e9e8e8;
        border-radius: 5px;
        padding: 10px 20px 7px 15px;
        width: 350px;
    }
}